{% comment %}
  Snippet: supplement-card
  Usage: {% render 'supplement-card', product: product, btn_text: 'Shop now', coll: collection %}
{% endcomment %}

{%- assign the_product = product -%}

<div class="swiper-slide">
  <div class="product-card">
    <a class="image" href="{% if coll %}{{ the_product.url | within: coll }}{% else %}{{ the_product.url }}{% endif %}">
      {%- if the_product.featured_image -%}
        <img
          src="{{ the_product.featured_image | image_url: width: 800 }}"
          srcset="
            {{ the_product.featured_image | image_url: width: 300 }} 300w,
            {{ the_product.featured_image | image_url: width: 500 }} 500w,
            {{ the_product.featured_image | image_url: width: 700 }} 700w,
            {{ the_product.featured_image | image_url: width: 900 }} 900w
          "
          sizes="(min-width: 990px) 280px, (min-width: 750px) 45vw, 90vw"
          alt="{{ the_product.featured_image.alt | escape }}"
          loading="lazy"
          width="{{ the_product.featured_image.width }}"
          height="{{ the_product.featured_image.height }}"
        >
      {%- else -%}
        {{ 'product-1' | placeholder_svg_tag }}
      {%- endif -%}
    </a>

    <h3>
      <a href="{% if coll %}{{ the_product.url | within: coll }}{% else %}{{ the_product.url }}{% endif %}">
        {{ the_product.title | escape }}
      </a>
    </h3>

    <div class="rating">
      <span class="rating-icon">
        {% for i in (1..5) %}
          <svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 512 512"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M256 372.686L380.83 448l-33.021-142.066L458
                     210.409l-145.267-12.475L256 64l-56.743 133.934L54
                     210.409l110.192 95.525L131.161 448z"></path>
          </svg>
        {% endfor %}
      </span>
      <span class="rating-text">{{ block.settings.rating_text }}</span>
    </div>

    <div class="price">
      {%- if the_product.compare_at_price_max > the_product.price -%}
        <span class="compare">{{ the_product.compare_at_price | money }}</span>
      {%- endif -%}
      <span class="current">
        {%- if the_product.price_varies -%}
          {{ the_product.price_min | money }}
        {%- else -%}
          {{ the_product.price | money }}
        {%- endif -%}
      </span>
    </div>

    <a
      class="primary-button"
      href="{% if coll %}{{ the_product.url | within: coll }}{% else %}{{ the_product.url }}{% endif %}"
    >
      {{ btn_text | default: 'Shop now' }}
    </a>
  </div>
</div>
