<style>
  @media screen and (min-width: 1024px) {
    .supplements-collections {
      padding: 80px 86px;
    }
  }
  @media screen and (max-width: 1023px) {
    .supplements-collections {
      padding: 36px 0;
    }
  }

  .supplements-collections {
    background: #000;
    color: #fff;
  }

  .supplements-collections-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 46px;
  }

  @media screen and (max-width: 1023px) {
    .supplements-collections-header {
      justify-content: center;
      margin-bottom: 34px;
    }
    .supplements-collections-header h2 {
      text-align: center;
    }
  }

  .supplements-collections-header h2 {
    color: #fff;
  }

  .supplements-collections-link {
    color: #fff;
    font-family: "SaaSeriesEDOT";
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    text-decoration: underline;
    transition: all .5s;
    display: none;
  }

  .supplements-collections-link.mobile {
    display: block;
    font-size: 16px;
    margin-top: 19px;
  }

  @media screen and (min-width: 1023px) {
    .supplements-collections-link.desktop {
      display: block;
    }
    .supplements-collections-link.mobile {
      display: none;
    }
  }

  .supplements-collections-link:hover {
    color: #e86452;
  }

  /* Swiper Container */
  .supplements-collections-grid {
    overflow: hidden;
  }

  .supplements-collections-slider {
    position: relative;
  }

  @media screen and (max-width: 1199px) {
    .supplements-collections-slider {
      padding: 0 0 70px;
    }
  }

  @media screen and (max-width: 1023px) {
    .supplements-collections-grid {
      padding: 0 50px;
    }
    .supplements-collection-card {
      text-align: center;
    }
    .supplements-collection-card h3 {
      font-size: 24px;
    }
  }

  @media screen and (max-width: 380px) {
    .supplements-collections-grid {
      padding: 0 24px;
    }
    .supplements-collection-card h3 {
      font-size: 22px;
    }
  }

  .supplements-collection-card {
    text-decoration: none;
  }

  .supplements-collection-image {
    background: linear-gradient(180deg, #39332E 0%, #000000 100%);
    border-radius: 24px;
    padding: 36px 0;
    width: 100%;
    display: inline-block;
    margin-bottom: 0.5rem;
  }
  .supplements-collection-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .supplements-collection-card h3 {
    font-family: "SaaSeriesEDOT";
    font-weight: 400;
    font-size: 26px;
    margin: 22px 0 0;
  }

  .supplements-collections-slider .swiper-pagination-bullet {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid rgb(255, 255, 255, 0.75);
    box-sizing: border-box;
    opacity: 1;
    transition: background-color 200ms ease, transform 200ms ease, border-color 200ms ease;
    transform: scale(1);
  }

  .supplements-collections-slider .swiper-pagination-bullet-active {
    border-color: #fff;
    border-width: 6px;
  }

  .supplements-collections-slider .swiper-pagination-bullet-active:after {
    width: 6px;
    height: 6px;
    background: 6px;
  }
</style>

<section class="supplements-collections {% if section.settings.enable_boxed_section %}boxed-section{% endif %}">
  <div class="supplements-collections-header">
    <h2 class="section-title">{{ section.settings.section_title }}</h2>
    <a href="{{ section.settings.shop_all_link }}" class="supplements-collections-link desktop">
      {{- section.settings.all_product_btn -}}
    </a>
  </div>

  <!-- Swiper Slider -->
  <div class="supplements-collections-grid">
    <div class="swiper supplements-collections-slider">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          {% assign collection = collections[block.settings.collection] %}
          {% if collection %}
            <div class="swiper-slide">
              <a href="{{ collection.url }}" class="supplements-collection-card">
                <div class="supplements-collection-image">
                  {% if block.settings.collection_img %}
                    <img
                      src="{{ block.settings.collection_img | img_url: 'master' }}"
                      alt="{{ collection.title | escape }}"
                      loading="lazy"
                    >
                  {% elsif collection.image %}
                    <img
                      src="{{ collection.image | img_url: 'master' }}"
                      alt="{{ collection.title | escape }}"
                      loading="lazy"
                    >
                  {% else %}
                    {{ 'image' | placeholder_svg_tag: 'supplements-collection-placeholder' }}
                  {% endif %}
                </div>
                <h3 style="color: {{ block.settings.title_color }}">{{ collection.title }}</h3>
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>

      <!-- Pagination & Navigation -->
      <div class="swiper-pagination"></div>
    </div>
  </div>

  <a href="{{ section.settings.shop_all_link }}" class="supplements-collections-link mobile">
    {{- section.settings.all_product_btn -}}
  </a>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    new Swiper(".supplements-collections-slider", {
      slidesPerView: {{ section.settings.slides_desktop_large }},
      spaceBetween: 24,
      loop: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      breakpoints: {
        320: {
          slidesPerView: {{ section.settings.slides_mobile }},
          spaceBetween: 16,
        },
        767: {
          slidesPerView: {{ section.settings.slides_tablet }},
          spaceBetween: 20,
        },
        1023: {
          slidesPerView: {{ section.settings.slides_desktop }},
          spaceBetween: 24,
        },
        1199: {
          slidesPerView: {{ section.settings.slides_desktop_large }},
          spaceBetween: 24,
        }
      }
    });
  });
</script>

{% schema %}
{
  "name": "Supplements Collections",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_boxed_section",
      "label": "Enable Boxed Section",
      "default": true
    },
    {
      "type": "range",
      "id": "slides_mobile",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Slides Per View (Mobile)",
      "default": 1
    },
    {
      "type": "range",
      "id": "slides_tablet",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Slides Per View (Tablet)",
      "default": 2
    },
    {
      "type": "range",
      "id": "slides_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Slides Per View (Desktop)",
      "default": 3
    },
    {
      "type": "range",
      "id": "slides_desktop_large",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Slides Per View (Desktop Large)",
      "default": 4
    },
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title",
      "default": "Shop by Health Goals"
    },
    {
      "type": "url",
      "id": "shop_all_link",
      "label": "Shop All Link",
      "default": "/collections"
    },
    {
      "type": "text",
      "id": "all_product_btn",
      "label": "All product button text",
      "default": "SHOP ALL HEALTH GOALS"
    }
  ],
  "blocks": [
    {
      "type": "collection_block",
      "name": "Collection Card",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Choose Collection"
        },
        {
          "type": "image_picker",
          "id": "collection_img",
          "label": "Custom Image (optional)"
        },
        {
          "type": "color",
          "id": "title_color",
          "label": "Title Color",
          "default": "#F53891"
        }
      ]
    }
  ],
  "max_blocks": 12,
  "presets": [
    {
      "name": "Supplements Collections",
      "category": "Collection"
    }
  ]
}
{% endschema %}
