<style>
  .we-care-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .we-care-images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    position: relative;
  }

  .we-care-img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .we-care-img-shape {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .we-care-content {
    padding: 0 86px;
    display: grid;
    grid-template-columns: repeat(2,1fr)
  }

  .we-care-title {
    max-width: 445px;
    font-family: 'Americane';
    font-weight: 300;
    font-size: 72px;
    line-height: 76px;
    color: #4C2B1D;

  }

  .we-care-description {
    max-width: 565px;
    font-family: 'Americane';
    font-weight: 400;
    font-size: 32px;
    text-align: left;
    line-height: 42px;
    color: #4C2B1D;
  }
</style>

<div class="we-care-section {% if section.settings.enable_boxed_section %}boxed-section{% endif %}">
  <div class="we-care-images">
    <img
      src="{{ section.settings.left_image | img_url: 'master' }}"
      draggable="false"
      alt="We Care Left Image"
      class="we-care-img"
    >
    <img
      src="{{ section.settings.right_image | img_url: 'master' }}"
      draggable="false"
      alt="We Care Right Image"
      class="we-care-img"
    >
    <img
      src="{{ section.settings.image_shape | img_url: 'master' }}"
      alt="We Care Image Shape"
      draggable="false"
      class="we-care-img-shape"
    >
  </div>
  <div class="we-care-content">
    <h2 class="we-care-title">{{ section.settings.title }}</h2>
    <p class="we-care-description">{{ section.settings.description }}</p>
  </div>
</div>

{% schema %}
{
  "name": "We Care Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "left_image",
      "label": "Left Image"
    },
    {
      "type": "image_picker",
      "id": "right_image",
      "label": "Right Image"
    },
    {
      "type": "image_picker",
      "id": "image_shape",
      "label": "Image Shape"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "We care about our impact"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "That's why we go the extra mile in everything we do..."
    }
  ],
  "presets": [
    {
      "name": "We Care Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}
